{
  "rules": {
    "font-family-name-quotes": "always-unless-keyword",
    "length-zero-no-unit": true,
    "block-no-empty": true,
    "block-no-single-line": true,
    "block-closing-brace-newline-after": "always-multi-line",
    "indentation": 2,
    "no-eol-whitespace": true,
    "no-extra-semicolons": true
  }
}